*.class
*.db
*.iml
Thumbs.db
.DS_Store
logs/

###################### Eclipse ######################

*.pydevproject
.project
.metadata
.classpath
.settings/
.loadpath

###################### Intellij Idea ######################
.html
.idea/
.idea/compiler.xml
############ Common #########
*.sync
target/
/reports/

