<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.epam.ta.reportportal.log4j.appender">
  <properties>
    <property name="pattern">%d | %-5p| [ %c{5} ] -> %m%n</property>
  </properties>
  <appenders>

    <ReportPortalLog4j2Appender name="ReportPortalAppender">
      <PatternLayout pattern="${pattern}"/>
    </ReportPortalLog4j2Appender>

    <file name="File" fileName="logs/log_${date:yyyy-MM-dd_hh-mm-ss}.log">
      <PatternLayout pattern="${pattern}"/>
    </file>

    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </console>

  </appenders>
  <loggers>
    <logger name="org.apache.http" level="WARN" additivity="false"/>
<!--    <logger name="com.epam.reportportal" level="WARN" additivity="false"/>-->
    <logger name="src" level="all"/>
    <Logger name="curl" level="DEBUG"/>

    <root level="all">
      <appender-ref ref="File" level="all" />
      <AppenderRef ref="Console"/>
<!--      <AppenderRef ref="ReportPortalAppender"/>-->
    </root>

  </loggers>
</configuration>
